body{
    color: black;
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

label{
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

input, button{
    size: 100px;
    background-color: gainsboro;
    border-color: black;
    color: black;
    border-radius: 12px;
}


